.notificationsContainer {
  position: absolute;
  width: 300px;
  right: 0;
}

.menuItem {
  text-align: end;
}

.Notifications {
  background-color: white;
  border: 2px dotted red;
  padding-inline: 0.5rem;
}

[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}
